[2018-11-08 22:28] mathiasbynens opened #1 "Introduce shorthands for operations?"
If there’s demand for it, we could consider introducing shorthands for operations (e.g. `exp` for `exponentiate`, and so on). The current method names follow the spec proposal.

If you have suggestions for naming schemes, please speak up here!

[2018-11-08 22:31] mathiasbynens opened #2 "Create a JSBI → BigInt transpiler"
Most features are transpiled from their standardized form into a more compatible form. For BigInt specifically, this is not feasible for [the reasons outlined in the README](https://github.com/GoogleChromeLabs/jsbi#readme).

As such, developers wishing to use BigInt functionality today should instead use JSBI to write their code. Then, when the time comes that BigInts are natively supported everyw

[2018-11-08 22:32] mathiasbynens opened #3 "Improve test coverage"
The current implementation has been tested quite well, but even more rigorous testing is always possible.

Should you find any bugs, please report them!

[2018-11-08 22:32] mathiasbynens opened #4 "Polyfill `BigInt64Array`/`BigUint64Array` and `DataView.prototype.{get,set}Big{Int,Uint}64`?"

[2018-11-08 23:46] mathiasbynens commented on #2
For example, the README demo:

[code]

…would be transpiled to…

[code]

[2018-11-09 00:12] FWeinb commented on #2
Transpiling this will get very tricky. See this example:
[code]

[2018-11-09 00:19] mathiasbynens commented on #2
That is indeed the main challenge. You can’t just replace all calls to a method named `add`, for example. I want to believe some tooling exists already to do this kind of tracking, though.

[2018-11-09 07:57] dubzzz commented on #3
Why not using property based testing on such lib (in addition to regular tests)? It applies quite well for such kind of lib

[2018-11-09 19:42] FWeinb commented on #2
Here is a quick prototype with using the static api https://astexplorer.net/#/gist/f3b0272a37d21487e8b3561c1c7d38c2/337ce3b1b66672c543cd77c85f912fa6202f3d60

[2018-11-11 07:12] mathiasbynens commented on #1
I personally don’t think there’s much value in adding shorthands for operations at this point. It’s okay for there to be only one true way of doing things. We can always revisit this later; OTOH, if we add shorthands now, we may not be able to get rid of them.

[2018-11-11 21:33] hchiam commented on #3
May be interesting: https://hackernoon.com/property-based-testing-4330e3e77381?gi=af3200a2b75c

[2018-11-12 20:21] graup commented on #4
Any idea how the API should look like? I'm not sure if adding to the DataView.prototype would be ok.

Anyway I started playing around and implemented DataView.{get/set}BigUint64: https://gist.github.com/graup/815c9ac65c2bac8a56391f0ca23636fc

If this approach makes sense I could continue implementing the rest of the functions.

[2018-11-13 00:07] mathiasbynens commented on #2
I chatted with @hzoo today who confirmed that although there are a few existing projects in this area, it would certainly be easier to just change JSBI’s API to turn everything into static methods. So let’s just do that. @FWeinb’s WIP prototype could then be turned into a proper Babel plugin :)

[2018-11-13 17:47] dubzzz commented on #3
@mathiasbynens I did write some basic property based tests, more: https://github.com/dubzzz/jsbi/commit/7c7f6d57b25403cfcf44e4e557e1e3de8caed841

[2018-11-13 18:51] jakobkummerow commented on #3
Thanks for these contributions, I appreciate the eagerness to help!

I must admit that I'm not a huge fan of this particular approach though. For example, testing that `a & b === b & a` and `a | b === b | a` is nice and well, but doesn't actually detect whether the operations are implemented correctly -- hypothetical example, if the implementation mixed up `&` and `|`, such a test would not detect

[2018-11-14 16:53] munizart opened #9 "README.md typo"
It says on line 62 `Modulus` where it should be read as `Remainder`, as there isn't a modulus operator in JS.
Please note that remainder and modulus may seem to be idempotent, but it's only true over natural numbers, for integers modulus differ from remainder when dividend is negative.
Ex:
[code]

I would open a PR, but i ain't willing to sign a CLA.

Thanks,

[2018-11-14 20:21] mathiasbynens commented on #9
For future reference, this is about the following line:

[code]

[2018-11-14 21:42] pmurias opened #11 "Implement BigInt.asIntN and BigInt.asUintN"
Implementing those two static methods would help with porting code that uses them.

[2018-11-15 00:05] mathiasbynens commented on #2
The API was changed in #10, and jsbi@2.0.0 includes the changes. @FWeinb, would you be interested in packaging up your transpiler into a fully-fledged GitHub repo of its own + publish it on npm?

[2018-11-15 00:08] #9 closed

[2018-11-15 07:44] dubzzz commented on #3
Hi @jakobkummerow,

Indeed, the option of testing against other languages is obviously a good thing in this precise example. I did not think of that possibility at the beginning.

Meanwhile you can still rely on "randomly" generated a and b to run against the two implementations and compare their respective outputs. So that you confirm they are consistent on a large range of possible inputs.

Than

[2018-11-15 21:02] FWeinb commented on #2
@mathiasbynens I currently don't have enough time to maintain a babel plugin. Feel free to use the code I posted as a baseline.

[2018-11-15 22:35] mathiasbynens commented on #2
I’ve updated @FWeinb’s prototype per the latest API changes: https://astexplorer.net/#/gist/f3b0272a37d21487e8b3561c1c7d38c2/797f79cb0e7c1f8251d6e450c65e3c3cea73bb0c

[2018-11-15 22:57] pmurias opened #13 "The remainder method returns wrong result for some values"
const jsbi = require('jsbi');

const a = '2788589391528142331873770897124985830679715361908029740727468171087321981075';
const b = '170141183460469231731687303715884105727';

console.log('wrong:', jsbi.remainder(jsbi.BigInt(a), jsbi.BigInt(b)).toString());
console.log('correct', BigInt(a) % BigInt(b));

[2018-11-16 04:14] Yaffle commented on #13
https://github.com/GoogleChromeLabs/jsbi/blob/master/jsbi.mjs#L1460 this line looks strange...

[2018-11-16 09:22] AlexMasterov opened #15 "Why JSBI is subclass of Array?"
[code]
This is very inconvenient for serialization libraries.
The order in which the type is determined during encoding can have a significant impact on performance. Codecs / transformers are usually used last, after `isArray` check.

[2018-11-17 02:12] jakobkummerow commented on #15
JSBI is a subclass of Array because that's the fastest and most memory-efficient representation I could come up with. I am hesitant to compromise on those two metrics.

That said, I am interested in better understanding the problem space here. Maybe there is something else we can do to make the serialization use case more convenient.

One thing to keep in mind is the ability to transpile JSBI to n

[2018-11-20 07:04] #13 closed

[2018-11-20 10:56] pmurias commented on #13
Would be great to have that released as I need that fix to use jsbi.

[2018-11-20 17:43] mathiasbynens commented on #2
@FWeinb Would you mind signing [the CLA](https://cla.developers.google.com/clas) so we can release the plugin based on your prototype under the same license as JSBI itself?

[2018-11-20 17:49] mathiasbynens commented on #2
More updates: https://astexplorer.net/#/gist/f3b0272a37d21487e8b3561c1c7d38c2/d2f41b52a55a06c4a00951f8953f0fb58317ab3d

[2018-11-20 18:05] FWeinb commented on #2
@mathiasbynens I signed the CLA.

[2018-11-20 18:43] jakobkummerow commented on #13
It's just been released as https://www.npmjs.com/package/jsbi/v/2.0.3.

[2018-11-20 19:05] jakobkummerow commented on #4
Thanks for getting started with this!

I think that JSBI should not interfere with a native implementation. Its purpose is to provide the same functionality, but with separate syntax that can easily be transpiled away. So just like the `JSBI.BigInt` constructor, the typed arrays should be properties on the JSBI object too: `JSBI.BigInt64Array` and `JSBI.BigUint64Array`.
DataView is a bit trickier,

[2018-11-20 22:16] pmurias opened #17 "2.0.3 release contains older code than the release point in the git history (no remainder fix)"
https://registry.npmjs.org/jsbi/-/jsbi-2.0.3.tgz - contains code that's taken from before the remainder fix

[2018-11-20 22:48] pmurias commented on #17
Thank you, that solved the issue.

[2018-11-20 22:48] #17 closed

[2018-11-21 01:50] mathiasbynens commented on #2
We’re working on publishing this soon.

[2018-11-21 03:05] graup commented on #4
Ok, I'll give that a shot.

For the DataView another option could be to use the polyfill functions with `call` like `JSBI.DataViewGetBigInt64.call(view, ...)`, then the transpile step would just be to replace the function name (`JSBI.DataViewGetBigInt64.call(view, ...)` => `DataView.getBigInt64.call(view, ...)`). Do you think that would be worth it?

[2018-11-21 03:36] mathiasbynens commented on #4
IMHO `.call` is a little awkward to use. I’d prefer `JSBI.DataViewGetBigInt64(myDataView, …)` → `myDataView.getBigInt64(…)`.

[2018-11-21 04:11] AlexMasterov commented on #15
Thanks for the reply.

[2018-11-21 04:11] #15 closed

[2018-11-21 23:40] mathiasbynens commented on #2
https://github.com/GoogleChromeLabs/babel-plugin-transform-jsbi-to-bigint  🔥

Thanks for the help everyone! Special shout-out to @FWeinb for putting together the prototype and allowing us to build upon it.

[2018-11-21 23:40] #2 closed

[2018-11-22 00:56] jakobkummerow commented on #1
In the interest of easy transpilation, I don't think we'll do this.

[2018-11-22 00:56] #1 closed

[2018-12-04 01:58] wchargin opened #20 "Add repository field to npm package"
<https://www.npmjs.com/package/jsbi> does not link to this repository,
even though the “Development” section of its readme includes the
instructions, “close this repository.” As far as I can tell, the only
way to connect this repository to that package is by searching for “jsbi
github” with your favorite search engine.

[2018-12-04 07:41] #20 closed

[2018-12-04 07:42] wchargin commented on #20
Thanks @mathiasbynens !

[2018-12-20 15:49] FranklinYu opened #21 "[discussion] migration"
The idea of migration is mentioned in README and I'm interested. I did some quick search. Candidates:
  - [Lebab](https://www.npmjs.com/package/lebab): JavaScript modernizer (reversed Babel)
  - [codemod](https://github.com/codemod-js/codemod): Babel plugin
  - [jscodeshift](https://github.com/facebook/jscodeshift)

Actually I would prefer an Editor plugin, since it will typically only be used onc

[2018-12-20 15:51] mathiasbynens commented on #21
What did you have in mind exactly? Is there anything left to do now that we have https://github.com/GoogleChromeLabs/babel-plugin-transform-jsbi-to-bigint?

[2018-12-20 15:52] FranklinYu commented on #21
from README

[2019-01-23 01:04] y3llowcake commented on #11
I was excited to find this package and then disappointed to find it doesn't implement these functions.

[2019-01-23 10:38] pmurias commented on #11
https://github.com/perl6/nqp/blob/master/src/vm/js/nqp-runtime/as-int-n.js - I use a super naive and inefficient direct implementation of the spec for those. I guess I should do a proper implementation as a PR to jsbi at some point.

[2019-02-03 20:38] Yaffle commented on #11
Personally, I don't need it, but:
[code]
It is almost the same as @pmurias suggested.

[2019-06-14 12:01] dawidgarus opened #22 "Export functions instead of static methods"
The library is quite big and it cannot be tree shaken because all of the operators are static methods.
It would be nice to have them exported from module, so unused operators could be removed from final bundle, after all we all want faster web.
Chances are you won't be using many operators like bitwise operations.
In my case, I would like to use BigInt for operations on money and I really need onl

[2019-06-14 13:52] mathiasbynens commented on #22
It's definitely possible to tree-shake static methods in theory. Is the issue that tooling doesn't support that today? Which tool are you using to perform the tree-shaking?

[2019-06-17 08:28] dawidgarus commented on #22
It it though? The shaking of static methods would come with a lot of caveats and implicit assumptions about the code that I'm not comfortable with. Despite the name, static methods are very dynamic by the nature of JS. You can extend class in inherit static methods, use the class in mixin, assign it to variable, inject the class using DI.

Rollup and webpack. Neither supports tree-shaking of stati

[2019-07-01 12:38] iwasaki-kenta opened #23 "Serialization to Uint8Array."
Are there any functions available in the library to write a BigInt to a DataView? Or perhaps retrieve a Uint8Array from a BigInt instance?

Looking to polyfill for: `DataView.getBigUint64(byteOffset, littleEndian)`.

[2019-07-01 12:42] #23 closed

[2019-07-01 12:42] jakobkummerow commented on #23
Not yet; see issue #4 . I think this request is essentially a dupe of that issue.

No, JSBI shouldn't provide any functionality that native BigInts don't have.

[2019-07-08 15:21] janhommes opened #24 "transpile the UMD to ES5"
We have an issue with a library that imports JSBI and should be used in a browser. Especially it fails in IE11 because of >ES5 syntax used here:
https://unpkg.com/jsbi@2.0.5/dist/jsbi-umd.js

Just wanted to know if there is any reason why the UMD module is not traspiled to ES5? That would make the usage of libraries much easier, especially as the Rollup documentation says that all external depende

[2019-07-08 15:31] mathiasbynens commented on #24
For each generated bundle, we have to transpile to _some_ target. When determining the target, the question is which environments you need to support. What should the lowest common denominator be? Is it Node.js v10? IE11? IE6? The answer to this question is different for every project.

For our UMD build, the target is currently ES2015. If you need to support older environments such as IE11, we fi

[2019-07-10 08:33] janhommes commented on #24
Fixed here #26

[2019-07-10 08:33] #24 closed

[2019-07-10 20:39] jakobkummerow commented on #21
Sorry, that bit of the README was outdated. It's fixed now. See @mathiasbynens' comment (or the updated README) for the existing tool. Thanks for your willingness to help though :-)

[2019-07-10 20:39] #21 closed

[2019-07-11 07:33] #11 closed

[2019-08-14 02:32] yuchi518 opened #28 "Assign -1 to BigInt, but BigInt return 18446744073709552000"
Hi, JSBI is a very good API for me, but I am confused in following case.

In offical web site say

So, I assume the following code should have same result, why they are different?

[code]

results:

[code]

Very thanks.

[2019-08-14 04:05] yuchi518 commented on #28
I saw new functions JSBI.asIntN and JSBI.asUIntN, but they seem not to be exported to v3.0.0 release.

[2019-08-14 07:05] mathiasbynens commented on #28
Thanks for the report. I believe the root cause is now fixed and released in `jsbi@3.0.1`.

I'm confused. The docs you quote say `BigInt`s are signed, but from your example it seems like you'd expect them to underflow? @jakobkummerow, can you PTAL?

[2019-08-14 07:06] mathiasbynens commented on #28
Note that the last line says:

[code]

That is, you're comparing `num_m1` to `max` instead of to itself. I can't tell if that's intentional.

[2019-08-14 09:30] jakobkummerow commented on #28
I think this is all working as intended.

`JSBI.toNumber(max)` performs a to-Number conversion (as the name implies). 0xFFFFFFFFFFFFFFFF cannot be represented as a JavaScript Number, because a 64-bit double doesn't have enough mantissa bits. So the number you get out is rounded up to 0x10000000000000000. Since the default Number-to-String conversion (which is invoked here under the hood for printi

[2019-08-14 09:30] #28 closed

[2019-08-14 12:53] yuchi518 commented on #28
Hi,

Very thanks for the explanation.

I just confused why BigInt("-1") and BigInt("0xffffffffffffffff")  have same hex output, but they don't have same number output.

When I saw new functions asInt64 and asUInt64, I guess this lib try to support variable bits BigInt.
But I saw the description about "right signed shift", I assumed the lib should know which bit is signed/unsigned flag.
If the lib

[2019-08-14 14:22] jakobkummerow commented on #28
These functions do not exist; there are only the generic `asIntN` and `asUintN`. You can call them as `asIntN(64, ...)` or `asIntN(65, ...)` or `asIntN(13, ...)`, or any other `N` you want.

JSBI supports BigInts with any number of bits (from 0 up to some huge maximum, depending on the JavaScript engine you run it on, typically millions or even billions).

In general, *no* bit in a BigInt is "the

[2019-08-14 22:35] cliffhall opened #30 "JSON.stringify() doesn't know how to serialize a BigInt"
Not certain how to handle this situation:

[code]

[2019-08-14 22:52] jakobkummerow commented on #30
Working as intended/spec'ed: https://tc39.es/proposal-bigint/#sec-serializejsonproperty (step 10).

In short, the background is that JSON is so commonly used among all sorts of different systems and programming languages that it is effectively impossible to add anything to the format without breaking compatibility in some crucial case.

You can define your own `.toJSON()` function, and pass a corr

[2019-08-14 22:52] #30 closed

[2019-08-14 23:46] yuchi518 commented on #28
Very thank you for the clear explanation, it helps to correct my pool BigInt concept.

[2019-08-14 23:48] cliffhall commented on #30
@jakobkummerow Ok, makes sense. For anyone else stumbling upon this, the verified TL;DR fix for the above problem is:

[code]

[2019-09-12 04:13] yuchi518 opened #32 "No asUintN and asIntN declaration in jsbi.d.ts"
The two functions were still not added into typescript declaration file. Thanks.

[2019-09-25 13:03] futpib opened #34 "Maximum BigInt size exceeded"
[code]

[code]

Does not this defeat the purpose of BigInt?

README claims this is "an implementation of the official ECMAScript BigInt proposal", this is clearly not the case.

[2019-09-25 13:33] jakobkummerow commented on #34
Please continue reading past the first line of the README ;-)
Just a few lines further down, you'll find the "Usage" section, which shows how to create (and print) a JSBI BigInt:

[code]

Don't use `new JSBI(...)`.

[2019-09-25 13:33] #34 closed

[2019-09-25 13:38] futpib commented on #34
Oh, sorry.

[2019-09-30 09:20] ashi009 commented on #22
I think this approach is necessary to make babel transform plugin to work?

The Closure compiler will do the right thing -- though it will be a challenge to make it work for most of the random npm packages around.

I just found it awkward to use in typescript, as the type is actually `JSBI` instead of `jsbi.BigInt`.

[2019-11-01 01:12] decafbad opened #36 "String parser accepts some corrupt data."
I need fractions for an app so I checked if I could use this lib.
[code]

[2019-11-02 22:41] #36 closed

[2019-11-15 03:55] pauldraper commented on #22
Only through a lot of introspection or making non-general assumptions about the code (a la Closure Compiler; though last time I used it had bugs around ES static).

E.g. `class Me extends JSBI {}` and now the static methods are even harder to follow.

Generally tree shaking works only at the level of `export`.

[2020-01-20 21:03] cliffhall opened #38 "typeof JSBI instance returns "object" not "bigint""
![Screen Shot 2020-01-20 at 4 01 50 PM](https://user-images.githubusercontent.com/871933/72757511-26cc0d80-3b9e-11ea-9893-cfa07001392a.png)

I took the documentation at face value when it said to use `typeof === 'bigint'` to recognize an instance. Now I'm remediating. :(

[2020-01-20 21:05] #38 closed

[2020-01-20 21:06] cliffhall commented on #38
My bad should've been checking instanceof JSBI :(

[2020-01-21 07:41] mathiasbynens commented on #38
This is documented here: https://github.com/GoogleChromeLabs/jsbi#how

[2020-02-22 21:54] decafbad commented on #36
Why isn't this patch in stable release?

[2020-02-23 11:12] AnyhowStep opened #39 "asIntN and asUintN should both throw RangeError when `n` is less than zero"
With native BigInt,
[code]

With jsbi,
[code]

https://runkit.com/embed/tjflr2xtmtou

[2020-02-24 11:12] jakobkummerow commented on #39
Thanks for the report.

I'm actually not sure we want to fix this. There are several places where JSBI kind of assumes that you know what you're doing, and in the interest of performance doesn't check for nonsensical inputs. `.asIntN(-1, ...)` is an example of obviously nonsensical code. It's not just just negative numbers that aren't checked there; per spec we'd have to do a full `ToIndex` conver

[2020-02-24 11:16] mathiasbynens commented on #39
I agree we should be consistent and either add validation everywhere (which would be bad for performance) or continue to assume that the user knows what they're doing. Perhaps the way forward here is to document this philosophy a little bit more clearly, and provide a list of examples such as the one in OP's post. WDYT?

[2020-03-05 09:59] jakobkummerow opened #40 "Consider switching internal storage to 30 bits per digit"
As of Chrome 80 (V8 8.0 branch), V8's "pointer compression" technique has required it to use "31-bit Smis" under the hood, which means that JSBI's chosen internal representation of 32 bits per digit is now a lot less efficient than it was before (in terms of both memory and CPU). It might be worth switching to 30 bits per digit, if enough people care about JSBI's efficiency (when it isn't compiled

[2020-03-30 21:55] decafbad opened #41 "Parser accepts empty string as zero"
[code]

[2020-03-30 22:01] jakobkummerow commented on #41
Yes, I believe that is the correct behavior.

Compare native BigInt behavior:
[code]

Spec: "The mathematical value of StringNumericLiteral:::[empty] is 0." (https://tc39.es/ecma262/#sec-runtime-semantics-mv-s, which is applicable for `BigInt(value)` if `value` is a string).

[2020-03-30 22:01] #41 closed

[2020-04-08 20:01] jgonera opened #42 "UMD version is used when bundled with Webpack"
I'm building an app that targets only new browsers but when I `import JSBI from 'jsbi'` Webpack uses the UMD bundle because the [`browser` field from `package.json` takes precedence over `module` field](https://github.com/webpack/webpack/issues/4674). My understanding was that the `browser` field was used only for packages that implement browser-specific code (using browser APIs). Is there a reaso

[2020-04-18 03:26] jgonera commented on #42
Tangential to this (but also not relevant until this is resolved), it would be great if non-UMD versions were not minified. I'm trying to debug something right now and all I see in the profiler are single-letter function names. I know I can just copy the JSBI source over to my project but it's slightly less convenient :)

[2020-06-04 05:17] zaidka opened #44 "Incorrect bitwiseAnd result"
The following code demonstrates the issue and compares the result against native BigInt implementation:

    const a = "0b10000010001000100010001000100010001000100010001000100010001000100";
    const b = "0b10000000000000000000000000000000000000000000000000000000000000000";

    const jsbiRes = JSBI.bitwiseAnd(JSBI.BigInt(a), JSBI.bitwiseNot(JSBI.BigInt(b)));
    const nativeRes = BigInt(a) & ~Big

[2020-06-04 11:42] jakobkummerow commented on #44
Good catch! Thanks to @zaidka for the report, and thanks to @Yaffle for the fix!

[2020-06-04 12:27] jakobkummerow commented on #44
Fixed.

[2020-06-04 12:27] #44 closed

[2020-08-16 05:26] anematode opened #46 "Karatsuba algorithm for bigint multiplication"
Hi,

I was wondering if a faster algorithm for bigint multiplication could be used for large bigints. The Karatsuba algorithm is relatively simple, so it wouldn't increase the code size by much while being significantly faster. I would love to contribute code for this. (Though I'm not sure what algorithm the project already uses!)

[2020-08-16 14:50] jakobkummerow commented on #46
Using faster algorithms (Karatsuba and others) is certainly possible. Currently, JSBI uses naive/"schoolbook" algorithms for all operations.

I'm not very enthusiastic about it because JSBI is intended to be compiled away (to native BigInts) eventually, and therefore:
- it would make sense to add faster algorithms to the native implementations first, as it would be weird if switching from JSBI to

[2020-08-17 07:38] anematode commented on #46
Alright, well I shall try contribute the relevant code to V8 first before working here.

[2020-09-03 06:58] joshxyzhimself commented on #39
These would be wonderful lol! In my experience (or more like lack of experience with BigInt stuff) I am having a hard time comparing this JSBI and the four below:

- https://github.com/MikeMcl/big.js/
- https://github.com/MikeMcl/bignumber.js/
- https://github.com/indutny/bn.js/
- https://github.com/peterolson/BigInteger.js/

As also discussed in https://github.com/ethereum/web3.js/issues/2171

[2020-09-04 14:15] jakobkummerow commented on #39
Sure, we can add more documentation and examples. @joshxyzhimself , would you like to draft something that you think would be useful?

Regarding JSBI's general motivation, we've tried to sum that up in the existing README.md. In short, it's meant to be a transitionary solution until native BigInt support is available in all browsers, which significantly informs its design, e.g. JSBI intentionally

[2020-09-05 20:25] Miladiir opened #47 "Possibly broken in IE11"
I noticed that JSBI is broken in a test application when running in IE11.

When I exclude JSBI in webpacks babel-loader exclude (jsbi is parsed like the rest of my code):

![grafik](https://user-images.githubusercontent.com/1358063/92312878-6d536880-efc5-11ea-9d38-05b86c1a9367.png)
This possibly points to:
[code]
I use core-js@3 and regenerator-runtime as polyfills. Maybe I need something else as

[2020-09-07 07:38] glr0221 commented on #47
@Miladiir

I was about to use this library for a project of mine. Did this library ever work for IE11? I mean if there was a version of this  library that worked for IE11? Currently i need support for two core objects/functions BigInt() and getBigUint64(). Thank you.

[2020-09-07 17:14] jakobkummerow commented on #47
Looks like IE11 doesn't support `Math.imul` and `Math.clz32`, which JSBI uses. At least, that's the result I get when I comment out "minify()" in rollup.config.js, regenerate the UMD version, and test `var a = JSBI.BigInt('12345678901234567890')` with that on an IE11 VM.

As a short-term workaround, you can provide a very simple polyfill (which does _not_ have the proper semantics, but is good eno

[2020-09-07 20:28] Yaffle commented on #47
@jakobkummerow ,
[code]

[2020-09-07 22:29] jakobkummerow commented on #47
@Yaffle : interesting fix, thanks! I actually copied that line from MDN; turns out different translations of the Math.clz32 page provide different polyfills, at least two of them omit the `+0.5` (which I can confirm is buggy e.g. for `x = 0x10000000`), a few others use `/ Math.LN2` instead of `* Math.LOG2E`, which also avoids the issue (yay for finite precision math!). Oh well, or one could implem

[2020-09-09 08:47] Miladiir commented on #47
Does that mean that the target only has transformed syntax, but does not include the proper polyfills? Thats really strange. Is that a misconfiguration or on purpose. Maybe a maintainer can clarify. I thank you for figuring out the problem.

[2020-09-09 10:31] mathiasbynens commented on #47
IMHO this would be the best approach, except preferably we wouldn’t install on `Math`, but just keep these as local helper utilities that we don‘t expose globally or on any built-ins.

[2020-09-09 11:44] #47 closed

[2020-09-09 19:01] Yaffle commented on #46
btw, https://github.com/peterolson/BigInteger.js uses this algorithm, but not for BigInt, although, it could be implemented on the top

[2020-09-10 08:21] glr0221 commented on #47
I just wanted to say, I have successfully used JSBI with IE. Thank you so much @jakobkummerow @mathiasbynens @Miladiir

[2020-11-25 06:01] F3n67u opened #50 "JSBI Instance's prototype lost when passed as a message via window.postMessage API"
If post a JSBI.BigInt object via `window.postMessage` like this:

[code]

In the other side, the received `bi` attribute will be a plain JavaScript Object instead of a JSBI.BigInt instance. `bi instanceof JSBI` will return false.

If I pass the received `bi` as a param of JSBI.add like this:

[code]

The below error will throw:

[code]

Have a look into `window.postMessage` [API Doc](https://devel

[2020-11-25 13:42] jakobkummerow commented on #50
I don't think it's possible to customize `postMessage` behavior, so I can't see a way to fix this on the JSBI library side.

That leaves you with local workarounds. You can manually convert the JSBI.BigInt object to a string on the sender side, and parse it back to a JSBI.BigInt on the receiver side.
The drawback is that this has a (small) efficiency cost. If/when you migrate to native BigInts, yo

[2020-11-29 13:56] s-cork opened #52 "JSBI with bigints"
Posting here since it might be useful to someone else, it's something I've used in a project that seems to be working well.
(someone will probably tell me why this is a bad idea 😅 )

It has the benefit of being able to use `bigint` when it's available and `JSBI` when it's not.

[code]

[2020-11-29 14:45] jakobkummerow commented on #52
It's not a _bad_ idea; very early versions of JSBI did something like this internally.

The biggest issue is the `**` operator. As you note, transpilers might eliminate it; that's because without transpilation this code will generate SyntaxErrors on sufficiently old JS engines (IIRC: Node 6, IE11).

So if you don't care about supporting such very old engines, then this solution will probably work

[2020-12-02 21:59] D-Nice commented on #4
would love to see something like https://github.com/GoogleChromeLabs/jsbi/pull/18 merged when acceptable

[2021-01-19 18:03] Yaffle opened #53 "Why is it slower than native BigInt?"
Some benchmarks like the one at https://peterolson.github.io/BigInteger.js/benchmark/#:~:text=Multiplication:%20400%20digits
shows that the native BigInt is 10 times faster.
This is very interesting why... because modern js engines are very good.

[2021-01-19 18:27] jakobkummerow commented on #53
Generally speaking, the key difference is access to wide machine instructions. A JS engine on x64 hardware can use 64bit×64bit→128bit multiplications. In JavaScript, you can use either `Math.imul()` for a 16bit×16bit→32bit multiplication, or convert to doubles and do (at most) 26bit×26bit→52bit multiplications; in both cases the limiting factor is the precision of the result. Due to how multiplica

[2021-01-19 18:45] Yaffle commented on #53
@jakobkummerow , thanks for the answer.
So, it is interesting, that even WebAssembly has no access to 64x64->128 bit multiplication (and calls from JS to WebAssembly still has too much overhead relative to the cost of the multiplication).

Right, the question is about the sizes less than 2000 bits, where "schoolbook algorithms" are still faster, btw, Karatsuba can be implemented on the top of the

[2021-01-20 11:31] jakobkummerow commented on #53
64×64→128 bit multiplications are not portable. x86_64 has them, many other architectures don't.

Yes, probably. I haven't tried it. Have you?

Once WasmGC is standardized and available, that likely will enable interesting ways of implementing something like BigInt (or BigDecimal, etc) as a Wasm library, with performance that should come very close to what a native implementation could do. That'll

[2021-01-20 11:57] Yaffle commented on #53
The last time I tried - it was ~20 multiplications.
https://webassembly.studio/?f=mk8h2xgeuv
Hm.... looks like it is 7 multiplications today... very good.

[2021-03-17 16:51] sagivo opened #54 "Is there a way to do get a logarithm of a jsbi number?"
I need to get the log of a jsbi number. Is there a way to do it?

[2021-03-17 17:00] jakobkummerow commented on #54
No, sorry. JSBI implements what ECMAScript defines for BigInts, and there's currently no `log` for them.

My understanding is that there were vague plans to do a follow-up proposal adding more functionality for BigInts; I don't know what has become of that idea.

See https://github.com/tc39/proposal-bigint/issues/205 for an earlier related request (bit length would be the rounded base-2 logarithm)

[2021-03-17 17:00] #54 closed

[2021-06-01 03:37] kainino0x commented on #4
Since Safari supports `BigInt` now, here are some polyfills for a few of the remaining missing bits, `getBigUint64`/`setBigUint64`, which might come in handy for people who stumble upon this.

No guarantees they're correct in all cases, but they at least work partially. Also no implementations for `getBigInt64`/`setBigInt64`; those might require some extra care to get right.

[code]

[2021-06-01 07:52] spherityshivam opened #55 "Math.floor function not working with Big integers"
Hi Team , I am using JSBI — pure-JavaScript BigInts   library , It is giving me issues when i am using Bitintegers with Math.floor function .

Please help me with this

Best Regards
Sethi Shivam

[2021-06-01 09:38] jakobkummerow commented on #55
This is expected. `Math.floor` (like the other `Math.*` functions) doesn't work with real BigInts, so it doesn't work with JSBI BigInts either.

(For `floor` (and `ceil` and `round`) in particular, there's no reason to use them with BigInts anyway -- as the name implies, BigInts are integers, so they never have a fractional part, so if `Math.floor` or an equivalent function existed for them, it wo

[2021-06-01 09:38] #55 closed

[2021-06-08 21:25] Yaffle commented on #46
looks like @jakobkummerow is adding Karatsuba multiplication to v8's implementation - https://github.com/v8/v8/commit/df7f886a6ac1afd128b2c02e043136fca9e36fc2#diff-76c04c73eab3df20b8b3bf73408fd6126492eff6ae660014ab81def8eb1da27d

[2021-06-12 16:35] jakobkummerow commented on #46
Indeed, V8's built-in BigInts now(*) use Karatsuba multiplication (when they're large enough). And there's more to come, stay tuned :-)

(*) As of today: on Chrome Canary; will be in the M93 release.

FWIW, I currently don't have any plans to work on JSBI performance. I assume that most devs [compile it away](https://github.com/GoogleChromeLabs/babel-plugin-transform-jsbi-to-bigint) anyway.

[2021-06-12 16:58] Yaffle commented on #46
@jakobkummerow ,
Thanks for working on BigInt!
Are you planning to implement another algorithm for division too? I tried to implement Newton's method once, but my implementation was very slow, and only for some very large numbers better than schoolbook. Although, it seems, Java BigInteger switch to fast algorithm for the same threshold as for Karatsuba multiplication, which is promising.

[2021-06-12 20:56] jakobkummerow commented on #46
As I said: "more to come" :-)

If you want to stay up to date, you can follow/star [crbug.com/v8/11515](https://crbug.com/v8/11515).

[2021-06-17 14:08] tqk2811 opened #56 "Cannot read property 'BigInt' of undefined"
in App.ts
[code]
did i missing something?
jsbi ver 3.1.5

[2021-06-28 06:19] #52 closed

[2021-07-28 10:57] xyunsh commented on #56
same issue

[2021-07-28 12:34] Yaffle commented on #56
Try native modules without any ts and bundlers

[2021-07-28 14:47] tqk2811 commented on #56
I found solution long time ago
[code]

[2021-07-28 14:47] #56 closed

[2021-07-28 17:41] Yaffle opened #57 "(-(2n**64n - 1n)) >> 32n"
JSBI.signedRightShift(JSBI.unaryMinus(JSBI.subtract(JSBI.exponentiate(JSBI.BigInt(2), JSBI.BigInt(64)), JSBI.BigInt(1))), JSBI.BigInt(32)).toString()
gives "0"
which is wrong, seems

[2021-07-28 19:32] jakobkummerow commented on #57
Confirmed; JSBI is missing the equivalent of https://chromium-review.googlesource.com/c/v8/v8/+/2561618.

Fix: https://github.com/GoogleChromeLabs/jsbi/pull/58

[2021-07-29 04:32] xyunsh commented on #56
[code]

This will also work, but the ts check needs to be ignored

[2021-07-29 04:40] xyunsh commented on #56
Add a line to the end of jsbi.d.ts
[code]
can be passed by ts checking

[2021-07-29 08:23] #57 closed

[2021-08-02 12:13] #40 closed

[2021-08-10 23:59] Yaffle commented on #39
`JSBI.BigInt('-0o0')` does not throw
is it a valid bug?

[2021-08-11 00:06] Yaffle opened #63 "conversion from huge numbers does not match BigInt"
JSBI.BigInt(4.4384296245614243e+42).toString()
gives
"4438429624561424525564590093179539127533568"
should give
"4438429624561424320047307980392507864252416"

[2021-08-11 17:31] #63 closed

[2021-08-12 02:51] aflin opened #66 "asIntN appears to give wrong value"
[code]
Or maybe I don't understand how it is supposed to work.

[2021-08-12 03:01] aflin commented on #66
Sorry.  Apparently I don't know how it works.

[2021-08-12 03:01] #66 closed

[2021-08-12 10:33] #39 closed

[2021-08-18 14:49] TheDiveO commented on #42
I'm actually running into a problem where the webpack packaging creates invalid results, when using React's Styleguidist. When building the app via create-creat-app's webpack configuration, it works (luckily). But the Styleguidist version crashes with `Uncaught TypeError: Cannot convert undefined to a BigInt` when I try to reference JSBI.BigInt after having imported the jsbi module.

[2021-08-23 12:00] thanpolas opened #68 "URGENT 3.2.0 is very broken"
I just upgraded to 3.2.0 and I get JSBI.BigInt is undefined error. Please verify the build.

[2021-08-23 12:11] HolgerJeromin commented on #68
Probably related to #67
But I think the developers needs more information about your setup. (what prints the error message?)

[2021-08-23 12:18] thanpolas commented on #68
Simple access to `JSBI.BigInt()` breaks.

Step to reproduce:

[code]

### app.js

[code]

[2021-08-23 12:27] mathiasbynens commented on #68
Yes, this is likely due to #67. I’ll take a look. cc @12wrigja

[2021-08-23 12:46] mathiasbynens commented on #68
Workaround:

[code]

But yeah we should try to restore the old behavior of exporting JSBI directly (and not as a named export called `default`) in the CommonJS bundle.

[2021-08-23 13:20] thanpolas commented on #68
thank you Mathias ❤️

[2021-08-23 13:26] #68 closed

[2021-08-28 10:10] gitmalong commented on #68
Using v3.2.1 in a Typescript project

1) Imported with `const JSBI = require('jsbi').default;`

[code]

[2021-08-29 19:32] 12wrigja commented on #68
With v3.2.1 I believe Mathias fixed this so the above workaround is no longer necessary, and you should instead be able to write

[code]

[2021-09-06 16:41] thanpolas opened #70 "CJS Module will not work on browser due to different JSBI's build target"
JSBI has different builds depending on the environment:

[code]

when the "module" or "browser" targets are used the CJS modules that depend on JSBI will break with an error of `JSBI.BigInt is not a Function`.

What would you advise so that a CJS library can safely work with JSBI in all environments?

[2021-09-06 16:45] thanpolas commented on #70
Believe there is relation to issue #42, which also happens to be the answer to life the universe and everything

[2021-09-06 16:57] thanpolas commented on #70
![image](https://user-images.githubusercontent.com/458813/132246803-b998be4a-790a-4933-b7a0-2838a8438dc6.png)

yea, as I suspected, the `BigInt` function on the jsbi-umd module can be found on the path `jsbi.default.BigInt`.

I will work around that on my library to do heuristics and figure out where to find the expected functions from the JSBI package as I don't expect this to be resolved.

It's

[2021-09-06 19:44] 12wrigja commented on #70
I think this probably needs to be fixed similar to https://github.com/GoogleChromeLabs/jsbi/pull/69 - specifically, https://github.com/GoogleChromeLabs/jsbi/blob/6a1d34737b4647ae0bffe1fb1624fa5b6599bf5b/rollup.config.js#L62 needs to be set to "default", not "named".

I'll send a PR if I can validate this will actually fix your issue.

[2021-09-07 11:32] #70 closed

[2021-09-08 10:15] s-cork opened #72 "JSBI.EQ implementation bug"
[code]

The above code leads to an implementation bug

I've also found a couple of edge cases:
[code]

[2021-09-08 11:59] #72 closed

[2021-09-08 12:01] jakobkummerow commented on #72
Released as 3.2.3.

[2021-09-09 20:19] 12wrigja opened #74 "Symbol.toPrimitive doesn't exist in IE11"
https://github.com/GoogleChromeLabs/jsbi/blob/c80c3ae61ca16fd37be76671fcf33df494369b34/lib/jsbi.ts#L1764-L1769

My understanding is that this code won't work in IE11 as neither Symbol or Symbol.toPrimitive are defined there.

Is using toPrimitive necessary, or could it be removed? If it is needed, then I would suggest wrapping it in some typeof checks:

[code]

I can send a PR for the above, but w

[2021-09-09 20:28] jakobkummerow commented on #74
Yes, that code is needed for spec compliance, it's an implementation of https://tc39.es/ecma262/#sec-toprimitive.

+1 to wrapping it in the checks you suggest.

[2021-09-10 16:18] #74 closed

[2021-10-19 13:03] Leslie-Wong-H opened #79 "UMD bundle of v3.2.5 will throw TypeError: h.__initializeDigits is not a function"
Usage:

![image](https://user-images.githubusercontent.com/27696701/137914131-063476f2-e47e-4127-825a-27d93c65a856.png)

The Webpack build bundle will throw TypeError:

![image](https://user-images.githubusercontent.com/27696701/137914333-04feaef3-7f87-4b76-b838-91ed48f2d1c9.png)

Work-around:

Downgrade to v3.1.4 could prevent the TypeError.

[2021-11-04 01:35] 12wrigja commented on #79
Sorry I didn't see this till now - I think I'm running into similar issues in a different environment and was reminded of this issue.

Did you try rebuilding using a higher target in the tsconfig (maybe even just ESNext?) and seeing what webpack produces as output? I don't think the typescript target level matters a whole lot, and if we can fix the UMD bundle as a result of changing it that sounds

[2021-11-07 16:35] Leslie-Wong-H commented on #79
Since the Webpack version is kind of outdated for the project I mentioned, I don't think that is the focus of this issue, after the above investigation.

Instead, we should manage to keep the bundles of this project as consistent as they were like in 3.1.*, to prevent disaster for the downstream consumers. The main goal of TS migration should be to catch more implicit bugs within the project.

Aft

[2021-11-07 16:39] Leslie-Wong-H commented on #79
Related discussion:
The npm script "dev" should change to "tsc --watch", after the bundle process reform above. The "dev" is not related to the bundle. Keep bundle separated and consistent?

[2021-11-08 21:17] 12wrigja commented on #79
I've opened a PR to fix the issues with the prototype, but this doesn't resolve the issues with the build system not actually optimizing this for IE11 (e.g ES5 output).

[2021-11-09 01:26] 12wrigja commented on #79
@Leslie-Wong-H Your proposal above to split out using the typescript plugin and instead use the .mjs output directly sounds good to me. Would you like to send a PR to implement that? If not I can send a PR sometime this week. Thanks for digging into this.

My guess as to why Babel isn't transpiling properly is because it of the file extensions involved in the output from the typescript plugin - se

[2021-11-10 02:47] #79 closed

[2022-01-01 18:24] phoenixbeats01 commented on #30
@ADTC answer will only work with pure javascript. With typescript I get the error: `TS2339: Property 'toJSON' does not exist on type 'BigInt'.`

[2022-01-05 21:20] mohamed040406 commented on #30
you can do this if you are using typescript
[code]

[2022-01-05 21:23] HolgerJeromin commented on #30
Or cleaner with the "I know what I do" feature:

[code]

[2022-01-20 03:02] brunoamancio commented on #30
Element implicitly has an 'any' type because expression of type '"toJSON"' can't be used to index type 'BigInt'.
  Property 'toJSON' does not exist on type 'BigInt'.ts(7053)

[2022-01-20 03:03] brunoamancio commented on #30
Element implicitly has an 'any' type because expression of type '"toJSON"' can't be used to index type 'BigInt'.
  Property 'toJSON' does not exist on type 'BigInt'.ts(7053)

[2022-01-20 08:55] HolgerJeromin commented on #30
Property 'toJSON' does not exist on type 'BigInt'.ts(7053)

Oh, I had [`suppressImplicitAnyIndexErrors: true`](https://www.typescriptlang.org/tsconfig#suppressImplicitAnyIndexErrors) in my config. Edited my example. Thanks!

[2022-01-25 04:46] garayush opened #85 "Error: Convert JSBI instances to native numbers using `toNumber`"
After updating to 4.1.0 release, getting the following error:

Stack trace:

"Error: Convert JSBI instances to native numbers using `toNumber`."," at JSBI.valueOf (/var/task/index.js:96308:1240)"," at new Number (<anonymous>)"," at new newClass (/var/task/index.js:96385:13)"," at new Decimal (/var/task/index.js:185797:9)"," at _loadValue (/var/task/index.js:206751:20)"," at _loadStruct (/var/task/

[2022-01-25 11:10] jakobkummerow commented on #85
After a bit of digging, it looks like [this patch](https://github.com/GoogleChromeLabs/jsbi/commit/2b9ba13513d294c523a22b726f47c6db30588b6a), which was meant to make accidental uses of `+JSBI.BigInt(42)` throw an error, has a side effect of also making `new Number(JSBI.BigInt(42))` throw, which is less desirable considering that native BigInts allow that (`new Number(42n)`).

IIUC, where things sp

[2022-02-04 20:53] 12wrigja commented on #85
Sorry for the delayed response - I realize I had drafted a response but never sent it.

My personal opinion is that I would rather refuse valid patterns in favour of avoiding suble bugs (e.g. `+JSBI.BigInt(42) + 42` is `84` without that patch, is a TypeError if directly transpiled to native BigInt `+42n + 42`, and is an Error with the patch mentioned above), only so long as there is an alternative

[2022-02-22 10:13] VittoriDavide opened #86 "SQRT"
Hi is there any way to do the sort of a JSBI number?

[2022-02-22 11:11] jakobkummerow commented on #86
There is no built-in `sqrt` function for BigInts, so JSBI (in accordance with its goal to implement the exact same behavior as native BigInts) doesn't provide one either.

That said, you can quite easily build your own. For example, you could adapt https://stackoverflow.com/questions/64190185/how-do-i-extract-the-nth-root-of-a-bigint-in-javascript to operate on JSBI values.

Of course, the mathema

[2022-02-22 11:11] #86 closed

[2022-02-23 11:19] VittoriDavide commented on #86
Well actually I really needed the sqrt operation so I use this:

`private sqrt(value: JSBI) {
        invariant(JSBI.greaterThan(value, ZERO), 'NEGATIVE')
        if (JSBI.lessThanOrEqual(value, TWO)) {
            return value;
        }

        function newtonIteration(n: JSBI, x0: JSBI): JSBI {
            const x1 = JSBI.signedRightShift(JSBI.add(JSBI.divide(n, x0), x0), ONE);

            if

[2022-03-11 17:52] jakobkummerow commented on #4
DataView operations are now supported (as of v4.2.0, just released).

Polyfilling `BigInt64Array`/`BigUint64Array` is currently not planned, for the following reasons:
- TypedArrays have a _huge_ API surface, at the same time most of their functions are probably rarely used. So polyfilling them would be a massive effort, and most of that effort would probably be a waste.
- To support indexed acces

[2022-03-11 17:52] #4 closed

[2022-04-07 22:50] pavbro opened #88 "Error: Convert JSBI instances to native numbers using `toNumber`."
Version 4.2.0
Mac M1 and Ubuntu 20

JSBI.BigInt(2) ** JSBI.BigInt(192)

Error: Convert JSBI instances to native numbers using `toNumber`.

And if JSBI.exponentiate(2, 2)

TypeError: _.__unsignedDigit is not a function

[2022-04-13 11:44] omerfirmak opened #89 "jsbi.d.ts is missing new DataView polyfills"
is there a workaround until this is resolved?

[2022-04-13 17:59] #89 closed

[2022-04-18 17:23] 12wrigja opened #92 "v4.2.2 and v4.3.0 tags"
Whilst following the instructions in the README, I accidentally pushed tags for both v4.2.2 and v4.3.0 (as I hadn't realized that the old tag wasn't deleted when I reset my working directory state back to upstream main).

I was able to cancel the publish workflow for v4.2.2 (but [v4.3.0](https://www.npmjs.com/package/jsbi/v/4.3.0) has been published).

Thoughts on how to reconcile this?

[2022-04-18 17:25] 12wrigja commented on #92
My thoughts are to try and un-publish v4.3.0 and retry the publish for v4.2.2.

[2022-04-18 17:30] 12wrigja commented on #92
On second thought, maybe we should merge the [v4.3.0 tagged commit](https://github.com/GoogleChromeLabs/jsbi/commit/c40371e089d1433bd8ff20b7a5be617d0561e85c) into main and publish both versions?

[2022-04-18 19:04] 12wrigja commented on #92
After chatting with some colleagues about this situation, they suggested that:
 - It's possible to "archive" the 4.3.0 release on NPM and re-set the latest tag to 4.2.2, but would mean having to jump to 4.3.1 if we ever needed that. We'd also need to manually start the GitHub Actions workflow again to publish 4.2.2.
 - We could make this repo's state consistent with the 4.3.0 release by force-push

[2022-04-19 05:58] mathiasbynens commented on #92
The latter option SGTM.

FWIW, the instructions at https://github.com/GoogleChromeLabs/jsbi#how-to-publish-a-new-release say to only ever create tags while on the `main` branch. As long as we stick to that, we’re fine. Enforcing it rather than relying on all maintainers to get it 100% of the time sounds good to me — I just hadn’t considered the need thus far.

[2022-04-19 20:25] 12wrigja commented on #92
I did make the tags on the main branch in both cases, but when I reset my local working directory's state (to change from minor to patch version change), I didn't delete the tag that had been created. Technically, when I made the tag I was on the main branch, but later that branch reference was moved and when the tag was pushed it was no longer part of the main branch.

I've force-pushed the v4.3.

[2022-04-20 06:22] mathiasbynens commented on #92
Thanks! I’ve gone ahead and deleted the v4.2.2 tag as well.

I believe this issue is now resolved.

[2022-04-20 06:22] #92 closed

[2022-06-24 17:45] brunomacf opened #94 "Generate random JSBI numbers to use in tests"
Is it possible to generate random JSBI numbers to be used in tests? I'm thinking about using something like [fast-check](https://github.com/dubzzz/fast-check) in tests.

[2022-06-24 18:18] 12wrigja commented on #94
The existing generate_benchmark script does some of this: https://github.com/GoogleChromeLabs/jsbi/blob/c40371e089d1433bd8ff20b7a5be617d0561e85c/scripts/generate-benchmark.py#L162-L172

[2022-06-24 18:23] brunomacf commented on #94
Nice!! Thanks a lot @12wrigja!

[2022-06-24 18:23] #94 closed

[2022-07-27 23:31] #50 closed

[2022-10-11 15:00] ssuess opened #95 "Does not work like BigInt"
Wanted to use jsbi for max backward compatibility, so I converted code I was using previously for BigInt with IPv6 addresses, but the result I am getting from jsbi is quite different:
[code]
gives log result of:
[code]
I thought this was supposed to be a drop in replacement, is that correct?

[2022-10-11 15:09] #95 closed

[2022-11-04 11:26] Jack-Works opened #96 "cannot be imported correctly with TypeScript Node 16 module resolution mode"
TS requires `JSBI.default.BigInt` instead of `JSBI.BigInt`

[2022-11-04 18:54] 12wrigja commented on #96
Is this similar to https://github.com/js-temporal/temporal-polyfill/issues/177 ?

Are the tsconfig settings mentioned on that issue the relevant ones here?

[2022-11-05 01:58] Jack-Works commented on #96
maybe you need an export map and "type": "module" (maybe?) in package.json

[2022-11-08 10:32] noskill24 commented on #30
Polyfill:

    // Polyfill: BigInt.prototype.toJSON

    (function(global, undefined) {
      "use strict";
      if (global.BigInt.prototype.toJSON === undefined) {
        global.Object.defineProperty(global.BigInt.prototype, "toJSON", {
            value: function() { return this.toString(); },
            configurable: true,
            enumerable: false,
            writable: true
        });

[2022-11-08 10:34] noskill24 commented on #30
Polyfill:

    // Polyfill: BigInt.prototype.toJSON

    (function(global, undefined) {
      if (global.BigInt.prototype.toJSON === undefined) {
        global.Object.defineProperty(global.BigInt.prototype, "toJSON", {
            value: function() { return this.toString(); },
            configurable: true,
            enumerable: false,
            writable: true
        });
      }
    })(wind

[2022-11-13 21:48] justingrant opened #97 "Invalid sourcemap due to missing TS output files in package"
While diagnosing and fixing https://github.com/js-temporal/temporal-polyfill/issues/192, I found that JSBI has the same bug: the package's sourcemap points to files that don't exist in the package. This causes debug console errors in some environments like the VSCode debugger.

For example, here's what I see in the debug console when I run my JSBI-using app in the VSCode debugger:

[code]

The fix

[2022-11-14 07:24] mathiasbynens commented on #97
Would you be up for submitting a patch?

[2022-11-14 07:46] justingrant commented on #97
I'm less confident that I understand the bundler config in this repo than in https://github.com/js-temporal/temporal-polyfill. In particular, I'm not sure how the browser-facing bundles work here, and I was worried that increasing the size of the browser bundle might be bad.  So I was thinking that it might be better for someone who knows this repo better (like @12wrigja?) to PR a fix here?

[2022-11-14 16:54] 12wrigja commented on #97
I'll try and find some time this week to send a PR for this (same for Temporal).

[2022-11-23 01:49] trosos opened #98 "Not working for big endian (typedarray)"
The machinery with `__kBitConversionBuffer` is tied to little endian systems.
On big endian systems, the two slots on `__kBitConversionInts` are swapped.

To illustrate, consider
[code]
On big endian environments, the above expression evaluates to true, which is wrong.
(In this specific example, the execution path starts to diverge [here](https://github.com/GoogleChromeLabs/jsbi/blob/main/lib/jsbi